.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-right: 1px solid;
    box-shadow: 2px 2px black;
    height: 100%;
    width: 150px;
}

.sidebar .content{
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
}

#menu-button {
    display: flex;
    align-items: flex-start;
    border-radius: 0px;
}

#home-button {
    display: flex;
    align-items: flex-start;
    border-radius: 0px;
}

#products-button {
    display: flex;
    align-items: flex-start;
    border-radius: 0px;
}

#list-button {
    display: flex;
    align-items: flex-start;
    border-radius: 0px;
}

#history-button {
    display: flex;
    align-items: flex-start;
    border-radius: 0px;
}

#menu-button:hover {
    background: greenyellow;
    color: white;
}

#home-button:hover {
    background: greenyellow;
    color: white;
}

#products-button:hover {
    background: greenyellow;
    color: white;
}

#list-button:hover {
    background: greenyellow;
    color: white;
}

#history-button:hover {
    background: greenyellow;
    color: white;
}